
.menu {
    display: flex;
    flex-wrap: wrap;
    background:#333;
}

.menuItem {
    height:50px;
    min-width: 150px;
    background: black;
    margin: 5px;
    color:white;
    font-weight:bold;
    text-align:center;
    flex-grow:0;
    text-decoration:none;
    line-height:50px;
}

.menuItem:hover {
    background: gray;
}

