html {
    background:#222;
}

h1 {
    font-size:3em;
}

h2 {
    font-size:2.5em;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    background:#333;
    justify-content:center;
}

.menuItem {
    height:50px;
    min-width: 150px;
    background: black;
    margin: 5px;
    color:white;
    font-weight:bold;
    text-align:center;
    flex-grow:0;
    text-decoration:none;
    line-height:50px;
}

.menuItem:hover {
    background: gray;
}

.banner {
    height: 300px;
}

.banner img{
    height: 300px;
}

.thepage {
    max-width:1000px;
}

.numbers {
    position:absolute;
    height:300px;
    top:0px;
    left:0px;
    background-color: #000;
    color: #020;
    font-size: 14px;
    overflow: hidden;
    text-align:justify;
    z-index:-1;
}

p {
    text-align:justify;
}
